#cp2id {
    margin-left: 9.5%;
  
  
}
.seccard{
    margin-top: 3%;
    /* display: grid;
    grid-template-columns: auto auto auto */
overflow: auto;


}
.pdg {
    padding: 3%;
    margin: 2%;
    margin-bottom: -6%;
}