.kl {
    background-color: #0066c3;
}
.tp-he{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;

  }
  .fl-lt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    text-align: left;
    padding-bottom: 3%;
  }

  .ko {
    padding-top: 2%;
  }
  .ccimg {
    height: 100px;
    width: 100px;
  }
  .fl-lt2{
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;
  }
  #ic-soc{
    margin: 2%;
  }
  @media only screen and (max-width: 800px) {
    .fl-lt2{
      text-align: left;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 22px;
      
      color: #FFFFFF;
    }
    .fl-lt{

      font-size: 20px;
    
    }
  }