.kl {
    background-color: #0066c3;
}
.tp-he{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;

  }
  .fl-lt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    
    color: #FFFFFF;
    text-align: left;
    padding-bottom: 3%;
  }
  .ko {
    padding-top: 2%;
  }