.ft {
    background-color:#0066c3;
}
.texp{
    font-family: Inter;
    font-weight: 700;
    font-size: 35px;
    line-height: 42.36px;
    text-align: left;
    color: #FFFFFFFF;
    margin-left: 5%;
}
.textp2{
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    text-align: left;
    color: #FFFFFFFF;
    margin-top: -1%;
    margin-left: 5%;
}
.card-set{
    /* margin: 4%; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;

}
.card-agent{
    border-radius: 40px;
    float: left;
    margin: 3%;
   
   
    
}
.agent-img{
    border-radius: 40px;
    
}
#icon-d{
    background-color: #0066c3;
}
.ft 
.carousel-control-prev-icon {
    margin-left: -80px;
}
.ft
.carousel-control-next-icon{
    margin-left:0px;
}
.ct {
    text-align: left;
}
.ctt{
    text-align: left;
}
.checked {
    color: orange;
  }
  .btlf{
    float: right;
    padding: 5%;
    border-radius: 11px;
  }