#navbar-bg {
margin-left: 50px;
position: relative;
left: 0px;



  
}
#navbar-bg img {
   
}
#bg-nb {
    background-color: #0066C3  !important;
    border-radius: 0px 0px 44px 44px;
    
}
.navlink{
margin: 20px;
margin-bottom: 0px;


}
.nav-mob{
    background-color: #0066C3;
}
.linktext{
    font-style: Inter;
    font-weight:400;
    font-size: 20px;
    line-height: 24.2px;
    color: #FFFFFF;
}

