.bwc{
    color: #363636;
    font-style: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;
    margin-top: 10%;
}
.services-ini {
    float: left;
    margin-left: 140px;
}

  .stuff .item {
    /* width: 50px;
    height: 50px;
    float: left;
    margin: 0rem 1rem 0 0; */
 

  }
.stuff {
}
.item img {


}
  .stuff img{
    /* float: center;
    width: 50px;
    height: 50px;
   margin: 1.2rem 1rem -1rem 1.3rem; */
  }
  .stuff p {
    /* margin: 0 0 0.5rem 0; */
  }
  .content .headd  {
/*   
   float: left; */

   
  }
.items-services {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap:40px;
   
  margin-top: 0%;
  margin-left: 8%;
 
}
.t .img {
  float: left;

 
}
.t img {
  width: 48px;
  height: 48px;
}
.t .tex {
  float: left;
}
.t {
  /* margin: 3%; */
width: 200%;
 
}
.tex{
  text-align: left;
  margin-left: 1%;
}
.headd{
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  line-height: 33.89px;
  color: #0066c3;
  
}
.dep{
  font-family: Inter;
  font-weight: 400;
  font-size: 25px;
  line-height: 30.26px;
  color: #656565;
  width: 60%;
}
@media only screen and (max-width: 900px) { 
  .bwc{

    margin-top: 20%;
}
.items-services {

  grid-template-columns: auto auto ;
  margin-left: 5%;
 
 
}
.headd{

  font-size: 22px;

  
}
.dep{

  font-size: 20px;

}
.t {
  /* margin: 3%; */
width: 80%;
 
}
.t img {
  width: 28px;
  height: 28px;
}
.bwc{
  
  font-size: 33px;
 
}

}

@media only screen and (min-width: 901px) and (max-width: 1600px){
  .items-services {
    
    margin-left: 0%;
   
   
  }
  .t {
    /* margin: 3%; */
  width: 200%;
   
  }
  .headd{

    font-size: 22px;
 
    
  }
  .dep{

    font-size: 20px;

  }
  .t img {
    width: 38px;
    height: 38px;
  }
  .bwc{
  
    font-size: 38px;
   
}
}
/* .item img{
    width: 48px;
    height: 48px;
}
.content {
   
  border:1px solid  #B1B1;
  display: grid;
  width: 880px;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
} */
