.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    margin-top: -195px;
    border-radius: 50%;
    
 
   
    
}
.carousel-control-prev-icon {
    margin-left: -200px;
}
.carousel-control-next-icon{
    margin-left:200px;
}
.cs {
  background-color:#FFFFFF;
  margin: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 38px;
  
}
.csi {
    padding-left: 80px;
    margin-top: 0%;
    margin-bottom: 3%;
  
 
  
   
}

.cp {
    float: left;
    margin: 2%;
    height: 535px;
    border-radius: 40px;
 
}
.cr {
    border: none;
    float: left;
    margin: 2%;
}
.img-br{
    border-radius: 40px;
}
.img-br2{
    border-radius: 40px;
    height: 300px;
}
.csi button{
    align-content: right;
}
.sibut {
    float: right;
    margin-right: 25px;
    
    
}
.butbn{
    padding: 20%;
    width: 150%;

    border-radius: 17px;

  
}
.cp .sibut {
    margin-right: 40px;
    
}
.ct {
   text-align: left;
   font-style: Inter;
   font-weight: 700;
   font-size: 28px;
   line-height: 33.39px;
   color: #656565;
   margin-bottom: -2%;
}
 #arrow-pl {
    margin-left: 1%;
    margin-right: 1%;
    
}
.subtext{
    font-style: Inter;
    font-weight: 400;
    font-size: 18px;
 line-height: 21.78px;
 text-align: left;
 color: #656565;
 margin: 0%;
}
.carousel-indicators  { visibility: hidden; }

.als {
    text-align: left;
    margin-left: 130px;
   padding-top: 1.5%;
   font-family: Inter;
   font-weight: 700;
   font-size: 35px;
   line-height: 42.36px;
   color: #363636;
   
}
.btals {
    margin-left: 10px;
    font-size: Inter;
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    color: #0066c3;
    width: 194px;
    height: 80px;
    border-radius: 17px;
    border-color: #0066c3;
    background-color: #FFFFFF;

}
.subtext2{
    font-weight: 700;
    font-family: Inter;
    font-size: 36px;
    line-height: 43.75px;
    text-align: left;
    color: #363636;
    margin: 0%;
}
.sibutl{
    float: left;
}
#idbuts{
    margin-top: 35px;
}
.subinc{
    text-align: left;
    margin: 7%;
    margin-top: 0%;
   padding-bottom: 2%;
   font-style: Inter;
   font-weight: 400;
   font-size: 18px;
   line-height: 21.78px;
   color: #656565;
   margin-top: -3%;
}
.un {
    text-decoration: underline;
    text-decoration-color:#656565;
}
.overlay {
    position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right:0;
  height: 85%;
  width: 100%;
  opacity: 1;
  visibility: none;
 
  margin: 0%;
 
  


  

}
.cl {
    background-color: #FF8845;
    padding: 2%;
    /* width: 112px;
    height: 113px; */
    position: absolute;
  top: 13%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 16px;
}
.dis {
    font-family: Inter;
    font-weight: 700;
    font-size: 45px;
    line-height: 54.46px;
    letter-spacing: -9.5%;
    color: #FFFFFF;
    text-align: left;
}
.off {
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -9.5%;
    color: #FFFFFF;
    text-align: right
}
.cp .cl {
    left: 80%;
}

.dsub{
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #656565;
    text-align: left;
    margin-left: 130px;
    margin-top: -2%;
}


.things{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 300px;
    left: 300px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  
}
.first-dest img{
    border-radius: 40px;
    height: 573px;
    margin-top: 40px;
   
}
.third-test img{

    height: 573px;
  
   
}
.first-dest{
    float: left;
}
.dest-cr {
    margin: 1%;
    margin-top: 2%;
    
}
.title-dest{
    font-family: Inter;
    font-weight: 700;
    font-size: 70px;
    line-height: 84.72px;
    color: #FFFFFF;
}
.a-but{
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFF;
}
.second-test{
    float: left;
}
.second-test img{
    height: 673px;
    margin-top: 0px;
    
    
}
#v img{
margin-right: 50px;
border-radius: 40px;
}
#alsid {
    margin-left: 55px;
}
#dsubid {
    margin-left: 55px;
}
.second-test .things {
    left: 830px;
}
.third-test{
    float: left;
    margin-top: 3%;
    height: 573px;
}
.third-test .things {
    left:1340px;
}
.num{
    font-family: Inter;
    font-weight: 700;
    font-size: 45px;
    line-height: 54.46px;
    color: #414042;
    margin: 2%;
}
.num-un{
    text-decoration: underline;
    text-decoration-color: #414042;
}
.things button{
   margin-bottom: -500px;
   padding: 5%;
   padding-left: 10%;
   padding-right: 10%;
   border-radius: 17px;
}
.second-test button{
    margin-top: 115px;
}

